.header {
	
	&-top {
		padding: 5px 0;
		font-size: 14px;
		font-family: 'Maza';
		background: #F4F4F4;

		.container {
			display: flex;
			justify-content: space-between;
		}

		&-left, &-center, &-right {
			display: flex;
			gap: 12px;
		}

		&-right {
			gap: 16px;
		}

		.location {
			
			display: flex;
			align-items: center;

			&::before {
				width: 16px;
				height: 16px;
				display: block;
				content: '';
				margin-right: 4px;
				background: url('../images/dest/icons/location.svg') no-repeat;
			}
		}

		.phone {
			
			display: flex;
			align-items: center;

			&::before {
				width: 16px;
				height: 16px;
				display: block;
				content: '';
				margin-right: 8px;
				background: url('../images/dest/icons/phone.svg') no-repeat;
			}
		} // phone

	} // header-top

	&-center {

		padding: 16px 0 24px;
		
		.container {
			display: flex;	
		}

		&-first {
			flex-basis: 115px;
		}

		&-second {
			
			display: flex;
			flex-direction: column;
			flex-basis: 900px;
			gap: 16px;


			&-top {
				display: flex;
				height: 48px;
				gap: 16px;
			}
		
			.burger {

				width: 100px;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 8px;
				background: var(--color-hover);

				cursor: pointer;

				&__element {
					width: 41px;
					height: 16px;
					background: url('../images/dest/icons/burger.svg') no-repeat;
				}

			} // burger

			.search {

				position: relative;
				flex-basis: 654px;
				height: 100%;
				border-radius: 8px;
				border: 1px solid rgba(72, 136, 255, .2);

				&__input {
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 8px;
					padding: 15px 100px 13px 25px;
					
					font-family: 'Maza';
					font-size: 16px;
					color: var(--color-text);

					&::placeholder {
						font-family: 'Maza';
						font-size: 16px;
						color: rgba(52, 58, 63, .5);
					}
				}

				&__button {
					width: 80px;
					height: 40px;
					position: absolute;
					top: 3px;
					right: 3px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 4px;
					background: var(--color-hover);

					font-family: 'Maza';
					font-size: 14px;
					color: #fff;
					cursor: pointer;
				}

			} // search

			.header-socials {
				
				flex-basis: 106px;
				height: 100%;
				display: flex;
				gap: 10px;
				margin-left: 8px;

				a {
					display: block;
					width: 48px;
					height: 100%;
					border-radius: 4px;
					background-color: #F4F4F4;
					
					transition: .33s;

					&:hover {
						background-color: #D4D9DD;
					}
				}

				&__tg {
					
					background-image: url('../images/dest/icons/socials/tg.svg');
					background-repeat: no-repeat;
					background-position: 45% 50%;

					&:hover {
						background-image: url('../images/dest/icons/socials/tg_hover.svg');
					}
				}

				&__whatsapp {
					
					background-image: url('../images/dest/icons/socials/whatsapp.svg');
					background-repeat: no-repeat;
					background-position: center;

					&:hover {
						background-image: url('../images/dest/icons/socials/whatsapp_hover.svg');
					}
				}
			} // header-socials

			.header-tags {
				
				height: 42px;
				display: flex;
				gap: 20px;

				&__button {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					flex: 1 0 auto;
					gap: 10px;
					padding: 12px 15px;
					border-radius: 8px;
					background: #F4f4f4;

					font-family: 'Maza';
					font-size: 16px;

					transition: .33s;

					&::before {
						
						display: block;
						content: '';
						width: 20px;
						height: 20px;
						background-repeat: no-repeat;

						transition: .33s;
						opacity: .5;

					}

					&.button-promo::before {
						background-image: url('../images/dest/icons/header_tags/promo.svg');
					}

					&.button-offer::before {
						background-image: url('../images/dest/icons/header_tags/offer.svg');
					}

					&.button-gifts::before {
						background-image: url('../images/dest/icons/header_tags/gifts.svg');
					}

					&.button-events::before {
						background-image: url('../images/dest/icons/header_tags/events.svg');
					}

					&.button-brands::before {
						background-image: url('../images/dest/icons/header_tags/brands.svg');
					}

					&:hover {
						color: var(--color-hover);

						&::before {
							opacity: 1;
						}
					}

				} // header-tags__button
			} // header-tags

		} // header-center-second

	} // header-center

	.header-logo {

		&__img {
			width: 80px;
			height: 80px;
		}
	}


} // header