.burger {

	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: var(--color-hover);

	cursor: pointer;

	@media (max-width: 1400px) {
		width: 40px;
		height: 40px;
	}

	&__element {
		width: 41px;
		height: 16px;
		background: url('../images/dest/icons/burger.svg') no-repeat;

		@media (max-width: 1400px) {
			width: 27px;
			height: 15px;
			background-size: 27px 15px;
		}
	}

	&.active {
		
		@media (max-width: 1400px) {

			background: #E8E8E8;
			transition: .3s;

			.burger__element {

				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: transparent;
				transition: .3s;

				&::before,
				&::after {
					display: block;
					content: '';
					width: 1px;
					height: 22px;
					background: var(--color-text);
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}

} // burger