.header-top {
	
	padding: 5px 0;
	font-size: 14px;
	font-family: 'Maza';
	background: #F4F4F4;

	@media (max-width: 768px) {
		padding: 0;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}

	&-left, &-center, &-right {
		display: flex;
		gap: 12px;
	}

} // header-top

.header.scroll {
	.header-top { display: none; }
}

.location {
		
	display: flex;
	align-items: center;

	font-size: 14px;
	font-family: 'Maza';

	&::before {
		width: 16px;
		height: 16px;
		display: block;
		content: '';
		margin-right: 4px;
		background: url('../images/dest/icons/location.svg') no-repeat;

		@media (max-width: 768px) {
			margin-right: 8px;
		}
	}
}

.phone {
	
	display: flex;
	align-items: center;

	font-size: 14px;
	font-family: 'Maza';

	&::before {
		width: 16px;
		height: 16px;
		display: block;
		content: '';
		margin-right: 8px;
		background: url('../images/dest/icons/phone.svg') no-repeat;
	}
} // phone

.location,
.phone,
.worktime {
	font-size: 14px;
	font-family: 'Maza';
}

.worktime {
	
	@media (max-width: 768px) {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&::before {
		@media (max-width: 768px) {
			width: 16px;
			height: 16px;
			display: block;
			content: '';
			background: url('../images/dest/icons/time.svg') no-repeat;
		}
	}
}

.header-top-menu {
	display: flex;
	gap: 16px;
	font-family: 'Maza';

	@media (max-width: 768px) {
		flex-direction: column;
	}

	a {
		@media (max-width: 768px) {
			padding-bottom: 7px;
			margin-bottom: 10px;
			border-bottom: 1px solid #E8E8E8;
		}
	}
}