.search {

	position: relative;
	flex-basis: 654px;
	height: 100%;
	border-radius: 8px;
	border: 1px solid rgba(72, 136, 255, .2);

	&__input {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		padding: 15px 100px 13px 25px;
		
		font-family: 'Maza';
		font-size: 16px;
		color: var(--color-text);

		&::placeholder {
			font-family: 'Maza';
			font-size: 16px;
			color: rgba(52, 58, 63, .5);
		}
	}

	&__button {
		width: 80px;
		height: 40px;
		position: absolute;
		top: 3px;
		right: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background: var(--color-hover);

		font-family: 'Maza';
		font-size: 14px;
		color: #fff;
		cursor: pointer;
	}

} // search